<mat-toolbar color="primary" class="container" *ngIf="isAdministracao">
<!-- <div class="imagem1"></div>

<div class="itemsMenu" ng-mouseover="playAudio()"><i class="fas fa-users"></i></div>

<i class="bi bi-border-width" ></i>
<svg xmlns="http://www.w3.org/2000/svg" width="80" height="40" style="margin-top: 0px; margin-left: 505px; margin-right: 55px" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
  <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
</svg>
-->




  <div class="container d-block"
       fxFlex.gt-xs="{{ FX_FLEX_GT_XS }}"
       fxFlex.gt-sm="{{ FX_FLEX_GT_SM }}"
       fxFlex.gt-md="{{ FX_FLEX_GT_MD }}"
       fxFlex.gt-lg="{{ FX_FLEX_GT_LG }}"
       fxFlex.xl="{{ FX_FLEX_XL }}" >
    <div fxHide.gt-xs>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu" [overlapTrigger]="false" >
      <button mat-menu-item [routerLink]="['/administracao']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['/administracao/grupo']"
              *ngIf="securityService.hasRoles(['ROLE_GRUPO_VISUALIZAR', 'ROLE_GRUPO_PESQUISAR'])"
      >
        <mat-icon>group</mat-icon>
        <span>{{ 'LABEL_GRUPO' | i18n}}</span>
      </button>
      <button mat-menu-item [routerLink]="['/administracao/usuario']"
              *ngIf="securityService.hasRoles(['ROLE_USUARIO_VISUALIZAR', 'ROLE_USUARIO_PESQUISAR'])"
      >
        <mat-icon>person</mat-icon>
        <span>Usuários</span>
      </button>
      <button mat-menu-item [routerLink]="['/administracao/tipo-amigo']"
              *ngIf="securityService.hasRoles(['ROLE_TIPOAMIGO_VISUALIZAR', 'ROLE_TIPOAMIGO_PESQUISAR'])"

      >
        <mat-icon>assignment_ind</mat-icon>
        <span>Tipo Amigo</span>
      </button>
      <button mat-menu-item [routerLink]="['/administracao/amigo']"
              *ngIf="securityService.hasRoles(['ROLE_AMIGO_VISUALIZAR', 'ROLE_AMIGO_PESQUISAR'])"
      >
        <mat-icon>assignment_ind</mat-icon>
        <span>Amigo</span>
      </button>
    </mat-menu>

    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
      <a mat-button [routerLink]="['/administracao']">
        <mat-icon>home</mat-icon>
        Home</a>
      <a mat-button [routerLink]="['/administracao/grupo']"
         *ngIf="securityService.hasRoles(['ROLE_GRUPO_VISUALIZAR', 'ROLE_GRUPO_PESQUISAR'])"
      >
        <mat-icon>group</mat-icon>
        Grupos</a>
      <a mat-button [routerLink]="['/administracao/usuario']"
         *ngIf="securityService.hasRoles(['ROLE_USUARIO_VISUALIZAR', 'ROLE_USUARIO_PESQUISAR'])"
      >
        <mat-icon>person</mat-icon>
        Usuários</a>

        <a mat-button [routerLink]="['/administracao/produto']"
          *ngIf="securityService.hasRoles(['ROLE_PRODUTO_VISUALIZAR', 'ROLE_PRODUTO_PESQUISAR'])"

     >
       <mat-icon>assignment_ind</mat-icon>
       Produto</a>

      <a mat-button [routerLink]="['/administracao/amigo']"
         *ngIf="securityService.hasRoles(['ROLE_AMIGO_VISUALIZAR', 'ROLE_AMIGO_PESQUISAR'])"
      >
        <mat-icon>assignment_ind</mat-icon>
        Amigo</a>

        <a mat-button [routerLink]="['/administracao/tipo-produto']"
         *ngIf="securityService.hasRoles(['ROLE_TIPOPRODUTO_VISUALIZAR', 'ROLE_TIPOPRODUTO_PESQUISAR'])"
      >
        <mat-icon>dns</mat-icon>
        Tipo Produto
      </a>

      <a mat-button [routerLink]="['/administracao/venda']"
         *ngIf="securityService.hasRoles(['ROLE_VENDA_VISUALIZAR', 'ROLE_VENDA_PESQUISAR'])"
      >
        <mat-icon>shopping_cart</mat-icon>
        Venda
      </a>

    </div>
  </div>
</mat-toolbar>

